 .task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 6px 0px;
  transition: all 0.2s;
  cursor: pointer;
  .task-info{
    display: flex;
    align-items: center;
    input{
      margin-inline-end: 15px;
    }
  }
  .helpers{
    button{
      padding: 7px;
      transition: all 0.2s;
    }
    button:hover{
      background-color: rgba(9,30,66,.08);
    }
  }
}
.task:hover{
    background-color: rgba(9,30,66,.04);
}
