.checkLists-container{
          header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin-bottom: 10px;
            label{
              margin: 0;
            }
            .delete-checkList{
              font-size: 14px;
              line-height: 20px;
              font-weight: 400;
              border-radius: 3px;
              background-color: rgba(9,30,66,.04);
              color: #172b4d;
              padding: 12px;
              transition: all 0.2s;
            }
            .delete-checkList:hover{
              background-color: rgba(9,30,66,.08);
            }
          }
          .check-list-result{
            display: flex;
            align-items: center;
            .percentage{
              margin-inline-end: 10px;
              font-size: 12px;
              width: 38px;
            }
            .graph{
              height: 10px;
              background: rgba(9,30,66,.08);
              border-radius: 30px;
              width: 100%;
            }
            .done-tasks-graph{
              height: 10px;
              background: #61bd4f;
              border-radius: 30px;
            }
          }
          .add-task{
            margin-inline-start: 40px;
            margin-top: 15px;
            .add-task-modal-button{
                background-color: rgba(9,30,66,.04);
                color: #172b4d;
                padding: 8px 12px;
                font-size: 14px;
                transition: all 0.2s;
            }
            .add-task-modal{
              display: flex;
              flex-direction: column;
              textarea{
                width: 100%;
                height: 76px;
                box-shadow: inset 0 0 0 2px #0079bf;
                padding: 8px;
                color: #172b4d;
                cursor: text;
                font-size: 16px;
              }
              textarea::placeholder{
                color: #172b4d;
                cursor: text;
              }
              .add-task-button{
                width: 75px;
              }
            }
          }
        }
