@import '../../assets/styles/setup/variables';

.form-button-container {
  .list{
    .new-item-form {
     display: inline-block;
     flex-direction: column;
     width: 272px;
     height: 100%;
     box-sizing: border-box;
     display: inline-block;
     vertical-align: top;
     white-space: nowrap;
     background-color: #ebecf0;
     border-radius: 3px;
     height: auto;
     min-height: 32px;
     padding: 7px;
     input{
       box-shadow: inset 0 0 0 2px #0079bf;
       height: 40px;
       display: block;
       transition: margin 85ms ease-in,background 85ms ease-in;
       width: 100%;
       padding: 5px 15px;
       font-size: 16px;
       border-radius: 3px;
       margin-bottom: 7px;
     }
     footer{
       .add-item{
        margin-inline-end: 15px;
      }
       .remove-list{
         margin-left: 15px;
         font-size: 25px;
         padding: 0;
       }
     }
    }
    .create-item-button{
      background-color: hsla(0,0%,100%,.24);
        color: #fff;
        border-radius: 3px;
        height: auto;
        min-height: 32px;
        padding: 10px;
        margin: 0 4px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        font-size: 16px;
        text-align: left;
        transition: all 0.3s;
        font-size: 18px;
    }
  }
  .card{
    padding: 0;
    box-shadow: none;
    .create-item-button{
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 100;
      color: $clr7;
      transition: all 0.3s;
      width: 100%;
    }
    .create-item-button:hover{
        background-color: rgba(9,30,66,.08);
        color: #172b4d;
    }
    .new-item-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      textarea {
        resize: none;
        outline: none;
        font-size: 16px;
        width: 100%;
        min-height: 100px;
        width: 94%;
        box-shadow:0 1px 0 rgb(9 30 66 / 25%);
        border:none;
        padding: 6px 8px 2px;
        margin-bottom: 10px;
        border-radius: 3px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      }
      footer{
        width: 100%;
        width: 97%;
        .add-item{
          margin-inline-end: 15px;
        }
      }
    }
  }
}
