.card-modal-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color:rgb(0, 0, 0, 0.5 );
  .card-modal{
    background-color: #f4f5f7;
    padding: 15px;
    width: 900px;
    height: 600px;
    .modal-header{
      display: flex;
      .title-modal-label{
        margin-inline-end: 23px;
      }
      .title-modal{
        font-size: 20px;
        font-weight: 600;
        color: #172b4d;
      }
    }
    .main-container{
      display: flex;
      main{
        flex: 3;
        overflow-y: auto;
        height: 485px;
      }
    }
  }
}
